.spy-promo.container {
	margin-top: 100px;

	@include laptop {
		margin-top: 90px;
	}

	@include tablet {
		margin-top: 60px;
	}
}

.spy-promo {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include laptop {
		flex-direction: column;
		align-items: start;
	}

	&.spy-promo_guy {
		flex-direction: row-reverse;

		@include laptop {
			flex-direction: column;
		}
	}

	&__content {
		max-width: 568px;

		@include tablet {
			max-width: 310px;
		}
	}

	&__list {
		list-style: none;
		margin-top: 32px;

		&-item {
			position: relative;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #556987;
			margin-left: 32px;
			margin-bottom: 16px;

			@include tablet {
				font-size: 14px;
				line-height: 16px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: "";
				position: absolute;
				top: 4px;
				left: -32px;
				width: 24px;
				height: 24px;
				background-image: url(/icons/icon-checkbox.svg);
				background-position: center;

				@include tablet {
					top: -2px;
				}
			}
		}
	}

	.btn_normal {
		margin-top: 32px;
	}

	&__img {
		position: relative;

		@include laptop {
			margin-top: 42px;
			margin-left: auto;
			margin-right: auto;
		}

		@include tablet {
			width: 218px;
			height: 218px;

			img {
				width: 218px;
				height: 218px;
			}
		}

		&_girl {
			&::before {
				content: "";
				position: absolute;
				top: 4px;
				left: 475px;
				width: 129px;
				height: 129px;
				background-image: url(../icons/shape-circle_yellow.svg);
				background-size: contain;
				background-repeat: no-repeat;

				@include tablet {
					top: 4px;
					left: 190px;
					width: 52px;
					height: 52px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 465px;
				left: -20px;
				width: 149px;
				height: 91px;
				background-image: url(../icons/shape-dots_blue.svg);
				background-size: contain;
				background-repeat: no-repeat;

				@include tablet {
					top: 190px;
					left: -12px;
					width: 60px;
					height: 37px;
				}
			}
		}

		&_guy {
			&::before {
				content: "";
				position: absolute;
				top: 4px;
				left: -20px;

				width: 129px;
				height: 129px;
				background-image: url(../icons/shape-circle_red.svg);
				background-size: contain;
				background-repeat: no-repeat;

				@include tablet {
					top: 190px;
					left: 190px;
					width: 52px;
					height: 52px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				top: 465px;
				left: 435px;
				width: 149px;
				height: 91px;
				background-image: url(../icons/shape-dots_green.svg);
				background-size: contain;
				background-repeat: no-repeat;

				@include tablet {
					top: 4px;
					left: -12px;
					width: 60px;
					height: 37px;
				}
			}
		}
	}
}
