.all-stories-block {
    margin-top: 46px;

    &__wrapper {
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        max-width: 1170px;

        @include laptop {
            width: 700px;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__btn {
        margin: 34px auto;
		width: auto;
		padding: 16px 28px;
		line-height: 20px;

		&_show-more {
            @include laptop {
                display: none;
            }
        }
    }
}

.all-stories-card.slick-slide {
	margin-right: 47px;

    @include tablet {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.all-stories-block__wrapper .slick-arrow {
	border: none;
	background: none;
	cursor: pointer;
}