.user-stories.container {
	margin-top: 100px;

	@include tablet {
		margin-top: 34px;
	}
}

.user-stories {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1040px;
		margin-bottom: 60px;

		@include laptop {
			flex-direction: column;
			gap: 34px;
		}

		@include tablet {
			margin-bottom: 42px;
		}
	}

	&__devider {
		border: 1px solid #d9d9d9;
	}

	&__title {
		margin-top: 50px;
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -0.02em;
		color: #2a3342;
	}
}

.user-info {
	display: flex;
	align-items: center;

	@include tablet {
		flex-direction: column;
	}

	&__avatar {
		width: 200px;
		height: 200px;
		margin-right: 36px;
		border-radius: 100%;
		background-image: url();
		background-color: purple;

		@include tablet {
			width: 150px;
			height: 150px;
			margin-right: 0;
		}
	}

	&__account {
		.user-info__user-login {
			font-weight: 700;
			font-size: 36px;
			line-height: 44px;
			letter-spacing: -0.02em;
			color: #2a3342;
			margin-bottom: 36px;

			@include tablet {
				font-size: 24px;
				text-align: center;
				margin-top: 25px;
			}
		}

		.user-info__user-subscribers,
		.user-info__user-subscriptions {
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #556987;
			margin-top: 16px;

			span {
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
				color: #556987;
				margin-left: 20px;
			}
		}
	}
}

.promo-block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
	gap: 10px;

	width: 370px;
	height: 180px;

	border: 0.5px solid #7b7b7b;
	border-radius: 8px;

	@include tablet {
		width: 296px;
		height: 180px;
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #556987;

		@include tablet {
			font-size: 16px;
		}
	}

	&::after {
		content: "рекомендуем!";
		position: absolute;
		top: -12px;
		left: 284px;
		padding: 4px 10px;
		background: linear-gradient(
			94.34deg,
			#edce76 -5.49%,
			#fa7e1e 12.43%,
			#d62976 50%,
			#962fbf 77.74%,
			#4f5bd5 105.49%
		);
		border-radius: 6px;
		transform: rotate(15deg);

		font-weight: 700;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;

		@include tablet {
			top: -17px;
			left: 176px;
		}
	}

	.promo-block__btn.btn_normal {
		@include tablet {
			width: 272px;
			height: 56px;
		}
	}
}

.user-stories-wrapper_empty {
	.user-stories-wrapper__text_empty {
		margin-top: 60px;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #8896ab;
	}
}

.user-stories-wrapper {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 48px;

	@include laptop {
		column-gap: 82px;
	}

	&__btn-show-more {
		display: block;
		margin: 34px auto;
		padding: 16px 28px;
		height: 56px;
		background: #22c55e;
		box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
		border-radius: 6px;
		border: none;
		cursor: pointer;

		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: #f0fdf4;

		@include tablet {
			display: none;
		}
	}
}

.stories-card {
	position: relative;
	width: 358px;
	height: 510px;
	border-radius: 14px;
	background: salmon;
	overflow: hidden;

	@include laptop {
		width: 310px;
		height: 465px;
	}

	&__header {
		position: absolute;
		top: 0;
		padding: 25px;
		width: 100%;
		height: 72px;
		background: rgba(217, 217, 217, 0.45);
		backdrop-filter: blur(24px);
	}

	&__date-label {
		width: fit-content;
		height: 22px;
		padding: 3px 8px;
		background: #dcfce7;
		box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
		border-radius: 36px;

		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #22c55e;
	}

	&__video {
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		padding: 14px 26px;
		width: 100%;
		height: 72px;
		background: rgba(217, 217, 217, 0.45);
		backdrop-filter: blur(24px);
	}

	&__copy-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 10px;
		gap: 10px;

		width: 48px;
		height: 44px;

		background: #ffffff;
		border-radius: 8px;
		border: none;
		cursor: pointer;

		path {
			stroke: #000000;
			stroke-width: 3;
		}
	}

	&__download-btn {
		display: flex;
		align-items: center;
		padding: 8px 28px;
		gap: 8px;

		width: 163px;
		height: 44px;

		background: #22c55e;
		box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
		border-radius: 6px;
		border: none;
		cursor: pointer;

		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #ffffff;
		text-decoration: none;

		.icon {
			width: 24px;
			height: 24px;

			svg {
				width: 24px;
				height: 24px;

				path {
					stroke-width: 4;
				}
			}
		}
	}
}

.user-stories-wrapper .slick-arrow {
	border: none;
	background: none;
	cursor: pointer;
}

.user-stories-wrapper .slick-next {
	position: absolute;
	top: 109%;
	right: 20%;
}

.user-stories-wrapper .slick-prev {
	position: absolute;
	top: 109%;
	left: 20%;
}

.user-stories-wrapper .slick-dots {
	display: flex;
	position: absolute;
	top: 112%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
}

.user-stories-wrapper .slick-dots .slick-active button {
	display: block;
	border: none;
	font-weight: 700;
	font-size: 15px;
	background: none;
	color: #343439;
}

.user-stories-wrapper .slick-dots li button {
	display: none;
}

// modal styles

.modal-stories-view {
	position: fixed;
	display: none;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(45, 45, 45, 0.8);
	z-index: 9;

	.modal-body {
		position: absolute;
		width: 358px;
		height: 584px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow-y: scroll;

		@include tablet {
			width: 310px;
			height: 465px;
		}

		&__close {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			background: #ffffff;
			border-radius: 6px;
			cursor: pointer;

			position: absolute;
			top: 0px;
			right: 0px;

			&:hover {
				border: 2px solid #8896ab;
			}
		}

		.modal-wrapper {
			margin-top: 74px;
		}
	}

	.modal-wrapper .slick-slide {
		width: 358px;
		height: 510px;
		margin: 0 15px;
		border-radius: 14px;

		@include tablet {
			width: auto;
		}
	}

	.modal-wrapper .slick-arrow {
		width: 48px;
		height: 44px;

		background: #ffffff;
		border-radius: 8px;
		border: none;
		cursor: pointer;
	}

	.modal-wrapper .slick-next {
		position: absolute;
		top: -14.5%;
		left: 20%;
	}

	.modal-wrapper .slick-prev {
		position: absolute;
		top: -14.5%;
		left: 0%;
	}

	.modal-wrapper .slick-dots {
		display: flex;
		position: absolute;
		top: -10%;
		left: 60%;
		transform: translate(-50%, -50%);
		font-size: 0;
	}

	.modal-wrapper .slick-dots .slick-active button {
		display: block;
		border: none;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.02em;
		color: #ffffff;
		background: none;
	}

	.modal-wrapper .slick-dots li button {
		display: none;
	}
}
