@import "stories-card";
@import "info-block";
@import "stories-wrapper";
@import "user-stories-articles";

.user-stories.container {
	margin-top: 40px;

	@include tablet {
		margin-top: 34px;
	}
}

.user-stories {

	&__devider {
		border: 1px solid #d9d9d9;
	}

	&__seo-txt {
		margin: 0 auto;
		margin-top: 46px;
		width: 794px;
		font-weight: 500;
		font-size: 15px;
		line-height: 26px;
		text-align: center;
		color: #8896ab;

		@include laptop {
			width: 522px;
		}

		@include tablet {
			width: 280px;
			font-size: 12px;
			line-height: 22px;
		}
	}
}


